<header>
    <nav>
        <ul>
            <li><strong>Band Management</strong></li>
        </ul>
        <ul>
        @if (loading$ | async) {
        <progress></progress>
        } @else {
            <li>
                <details class="dropdown">
                    @if (band$ | async) {
                    <summary>{{ (band$ | async)?.name }}</summary>
                    } @else {
                    <summary>Choose Band</summary>
                    }
                    <ul>
                        @for (band of bands$ | async; track $index) {
                        @if( (band$ | async ) != band) {
                        <li><a (click)="select(band)" attr.data-tooltip="Select {{ band.name }}"
                                [attr.data-placement]="'bottom'">{{ band.name }}</a></li>
                        }
                        }
                    </ul>
                </details>
            </li>
        }
        </ul>
    </nav>
</header>